<div id='map'></div>
<div id='variables' class='menu-ui'></div>
<%= image_tag('avg_cost.png', id: 'avg_cost') %>
<%= image_tag('total_installs.png', id: 'total_installs') %>
<%= image_tag('total_capacity.png', id: 'total_capacity') %>
