body {
  margin:0;
  padding:0;
  background-color: blue;
}

#map {
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
  margin-top: 45px;
}

.leaflet-popup-close-button {
  display: none;
}

.leaflet-popup-content-wrapper {
  pointer-events: none;
}

.menu-ui {
  position:absolute;
  top:70px;
  right:10px;
  }

path {
  -webkit-transition:fill 200ms;
          transition:fill 200ms;
  }
