body { margin:0; padding:0; }
#map { position:absolute; top:0; bottom:0; width:100%; }

#avg_cost {
  position:absolute;
  bottom:10px;
  right:10px;
  z-index: 10;
  width: 170px;
}
#total_capacity {
  position:absolute;
  bottom:10px;
  right:10px;
  z-index: 10;
  width: 170px;
  display: none;
}
#total_installs {
  position:absolute;
  bottom:10px;
  right:10px;
  z-index: 10;
  width: 170px;
  display: none;
}

#info {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 50%;
  height: 300px;
  z-index: 10;
  background-color: white;
  top: 200px;
  opacity: .8;
  border-radius: 20px;
}

.map-legend ul {
  list-style: none;
  padding-left: 0;
}

.map-legend .swatch {
  width:20px;
  height:20px;
  float:left;
  margin-right:10px;
}

.leaflet-popup-close-button {
  display: none;
}

.leaflet-popup-content-wrapper {
  pointer-events: none;
}

.menu-ui {
  position:absolute;
  top:70px;
  right:10px;
  }

path {
  -webkit-transition:fill 200ms;
          transition:fill 200ms;
  }
