#torque-slider {
    position:absolute;
    bottom:18px;
    right:25px;
    width:300px;
    z-index: 1000;
}

#torque-pause {
    position:absolute;
    bottom:12px;
    right:345px;
    width:28px;
    height: 26px;
    padding: 1px 2px 2px 2px;
    z-index: 1000;
    border-radius: 3px;
    cursor: pointer;
    background-color: white;
    background-image: image-url("play.png");
    background-repeat:no-repeat;
    background-position:center;
    background-size: 80% 80%;
    display: none;
}

#torque-pause.playing {
  background-color: white;
  background-image: image-url("pause.png");
  background-size: 80% 80%;;
  background-repeat:no-repeat;
  background-position:center;
  display: none;
}

#torque-time {
  position: absolute;
  bottom: 40px;
  right: 40px;
  color: white;
  font-size: 31px;
  font-family: Georgia, serif;
}
