<header class="navbar navbar-fixed-top navbar-default">
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="navbar-right" id="about"> <%= link_to "About Open PV Market Mapper 2.0",   '#' %> </li>
        <form class="navbar-form" role="search">
          <div class="form-group has-feedback">
              <input id='typeahead' class="form-control" type="text" placeholder="Enter a state (Ex: Alaska)">
            <i class="glyphicon glyphicon-search form-control-feedback"></i>
          </div>
        </form>
      </ul>
    </div>
  </nav>
</header>
